@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    /* font-size: 16px; */
    font-family: 'Poppins', sans-serif;
    --theme-color: #00D3FF;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --navbar-width: 13rem;
    --hove-focus: 13rem;
  }
  
  /* body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  } */
  
    body::-webkit-scrollbar {
        width: 0.25rem;
    }
  
    body::-webkit-scrollbar-track {
        background: #1e1e24;
    }
  
  /* body::-webkit-scrollbar-thumb {
    background: #6649b8;
  } */
  
    main {
        margin-left: 5rem;
        padding: 1rem;
    }
  
    .navbar {
        padding-top: 4.7rem;
        position: fixed;
        font-size: 14px;
        background-color: var(--bg-primary);
        transition: width 600ms ease;
        overflow-y: auto;
        overflow-x: hidden;
        
    }
  
    .navbar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
  
    /* .nav-item {
        width: 100%;
        padding-top: .5px;
        margin-left: 0px;
    } */

  
  
  /* .nav-item:last-child {
    margin-top: auto;
  } */
  
    .nav-link {
        display: flex;
        align-items: center;
        height: 2rem;
        color: var(--text-primary);
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
        transition: var(--transition-speed);
    }
    
    .nav-link:hover, .nav-link:focus {
        filter: grayscale(0%) opacity(100); 
        color: var(--text-secondary);
    }


  /* .link-text {
    display: none;
    margin-left: 0;
  } */
  
  .nav-link i {
    /* width: 1rem; */
    min-width: 2rem;
    margin: 0rem;
    align-self: left;
  }
  
  .fa-primary {
    color: var(--theme-color);
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
    .logo {
        display: inline;
        font-weight: bolder;
        /* margin-bottom: 1rem; */
        /* margin-top: 1rem;  */
        padding: 1rem;
        text-align: center;
        background: var(--bg-secondary);
        font-size: 1.5rem;
        letter-spacing: 0.3ch;
        width: 100%;
    }

    .nav-logo-link {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--theme-color)
    }

  
    
  
  

    
  



  


  
  /* Small screens */
  @media only screen and (max-width: 767px) {

    /* .page-container {
      margin-bottom: 1rem;
      padding-top: 3rem;
  } */
    .navbar {
        bottom: 0;
        padding-top: 1rem;
        position: fixed;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100vw;
        height: 3rem;
        overflow-y: hidden;
        overflow-x: auto;

        /* justify-content: center; */
    }


    .nav-item {
        width: 100%;
        padding-top: .5px;
        margin-left: 0 .5px;
        padding-right: 20px;
    }

    .nav-link:hover, .nav-link:focus {
        filter: grayscale(0%) opacity(1);
        /* background: var(--bg-secondary); */
        background: white;
        width: auto;
        margin-left: 10px;
        height: 3rem;
        padding-right: 25px;
        /* border-radius: 10px;  */
        color: var(--bg-primary);
      }
        
    .nav-link i {
        width: 0rem;
        min-width: 1.5rem;
        margin: 0 .5rem;
        align-self: center;
    }

    .logo {
        display: none;
    }
  
    .navbar-nav {
        flex-direction: row;
    }
  
    main {
        margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 767px) {
    .navbar {
      top: 0;
      width: var(--navbar-width);
      height: 100vh;
    }
  
    /* .navbar:hover {
      width: var(--hove-focus);
    }  */
    .page-container {
        padding-left: 15rem;
        padding-right: 2rem;
        margin-bottom: 10rem;
        padding-top: 3rem;
    }

    .navbar:hover .link-text {
      display: inline;
    }

    .nav-item:last-child {
      margin-top: auto;
      margin-bottom: 10px;
    }
  
    .nav-item {
      width: 100%;
      padding-top: 10px;
      margin-left: 50px;
  }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
